[Desktop Entry]
Type=Application

Name=Diginum (Python)
Exec=/usr/bin/diginum-py
Icon=/usr/share/sandpotnoodles/diginum.png

Comment=Somewhat upgraded version of SandCount

Categories=Utility
Keywords=mintmix;sandpotnoodles;count;number;mobile;qt6;py
